<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer-personalizado">
        <hr class="linea-personalizada">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <p>Síguenos en nuestras redes sociales:</p>
              <a href="#" target="_blank"><img src="./assets/img/mail.svg" style="width: 40px; margin: 5px;"></a>
              <a href="#" target="_blank"><img src="./assets/img/insta.svg" style="width: 40px; margin: 5px;"></a>
              <a href="#" target="_blank"><img src="./assets/img/wa.svg" style="width: 40px; margin: 5px;"></a>
            </div>
            <div class="col-4">
              <!-- Espacio vacío -->
            </div>
            <div class="col-4">
              <p>¿Tienes alguna pregunta o sugerencia?</p>
              <a href="./views/contact.html">Contáctanos aquí</a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>