<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="vstack gap-2 col-md-5 mx-auto">
    <button type="button" class="btn btn-secondary">Save changes</button>
    <button type="button" class="btn btn-outline-secondary">Cancel</button>
  </div>

  <div class="register-form">
    <h2>Registrarse</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Nombre" required>
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="date" name="birthday" placeholder="Cumpleaños" required>
        <button type="submit" onclick="location.href='../index.html'">Crear cuenta</button>
    </form>
</div>
</div>
</div>

    <footer class="footer-personalizado">
        <hr class="linea-personalizada">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <p>Síguenos en nuestras redes sociales:</p>
              <a href="#" target="_blank"><img src="./assets/img/mail.svg" style="width: 40px; margin: 5px;"></a>
              <a href="#" target="_blank"><img src="./assets/img/insta.svg" style="width: 40px; margin: 5px;"></a>
              <a href="#" target="_blank"><img src="./assets/img/wa.svg" style="width: 40px; margin: 5px;"></a>
            </div>
            <div class="col-4">
              <!-- Espacio vacío -->
            </div>
            <div class="col-4">
              <p>¿Tienes alguna pregunta o sugerencia?</p>
              <a href="./views/contact.html">Contáctanos aquí</a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>