.navbar-index{
    text-align: center;
    background-color: antiquewhite;
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color:antiquewhite;
    /* ]height: 8vh; */
    /*align-items: center;*/
}
.login-form{
    text-align: center;
}



